<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block titre %}
        
    {% endblock titre %}
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <ul  style="list-style: none;">
        <li style="display: inline-block; padding:10px 20px;" >
            <a href="{% url 'Home'%}">home</a>
        </li>
        <li style="display: inline-block; padding:10px 20px;">
            <a href="{%url 'contact'%}">contact</a>
        </li>
        <li style="display: inline-block; padding:10px 20px;">
            <a href="{% url 'articles'%}">Articles</a>
        </li>
    </ul>
    {% block contenu %}{% endblock %}
    
</body>

</html>